{% extends 'base.html.twig' %}

{% block title %}{{ 'label.catname-category'|trans({'{catname}': category.name}) }}{% endblock %}

{% block body %}
    {% include 'navigation/main-menu.html.twig' with {'active_route': 'category'} %}

    <h1>{{ 'label.catname-category'|trans({'{catname}': category.name}) }}</h1>

    {% if category.pokemon is not empty %}
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="number">#</th>
                <th scope="col" class="name">{% trans %}label.name{% endtrans %}</th>
                <th scope="col" class="type">{% trans %}label.type{% endtrans %}</th>
                <th scope="col" class="category">{% trans %}label.category{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for pokemon in category.pokemon %}
                <tr>
                    <th scope="row" class="number">{{ pokemon.number }}</a></th>
                    <td class="name"><a href="{{ path('pokemon_show', {id: pokemon.id}) }}">{{ pokemon.name }}</a></td>
                    <td class="type">
                        {% for type in pokemon.type %}
                            <a class="badge {% if type.bootstrapColor is not empty %}badge-{{ type.bootstrapColor }}{% endif %}" style="{{ type.getBackgroundProperty }}" href="{{ path('type_show', {id: type.id}) }}">{{ type.name }}</a>
                        {% endfor %}
                    </td>
                    <td class="category">{% if pokemon.category is not null %}<a href="{{ path('category_show', {id: pokemon.category.id}) }}">{{ pokemon.category.name }}</a>{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
