{% extends 'base.html.twig' %}

{% block title %}Pokémon{% endblock %}

{% block body %}
    {% include 'navigation/main-menu.html.twig' with {'active_route': 'search'} %}

    <h1>Search results for: <em>{{ query }}</em></h1>

    {% if results is not empty %}
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th scope="col" class="number">#</th>
                <th scope="col" class="name">Name</th>
                <th scope="col" class="type">Type</th>
                <th scope="col" class="category">Category</th>
            </tr>
            </thead>
            <tbody>
            {% for pokemon in results %}
                <tr>
                    <th scope="row" class="number">{{ pokemon.number }}</th>
                    <td class="name"><a href="{{ path('pokemon_show', {id: pokemon.id}) }}">{{ pokemon.name }}</a></td>
                    <td class="type">
                        {% for type in pokemon.type %}
                            <a class="badge {% if type.bootstrapColor is not empty %}badge-{{ type.bootstrapColor }}{% endif %}" style="{{ type.getBackgroundProperty }}" href="{{ path('type_show', {id: type.id}) }}">{{ type.name }}</a>
                        {% endfor %}
                    </td>
                    <td class="category"><a href="{{ path('category_show', {id: pokemon.category.id}) }}">{{ pokemon.category.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No results. Try something else.</p>
    {% endif %}
{% endblock %}
