{% extends 'base.html.twig' %}

{% block title %}{% trans %}label.types{% endtrans %}{% endblock %}

{% block body %}
    {% include 'navigation/main-menu.html.twig' with {'active_route': 'type'} %}

    <h1>{% trans %}label.types{% endtrans %}</h1>

    {% if types is not empty %}
        <div class="row row-cols-2 row-cols-lg-4 row-cols-xl-6">
        {% for type in types %}
            <div class="col mb-4">
                <a class="card" href="{{ path('type_show_by_slug', {slug: type.slug}) }}">
                    <h2 class="card-header">
                        <span class="badge {% if type.bootstrapColor is not empty %}badge-{{ type.bootstrapColor }}{% endif %}" style="{{ type.getBackgroundProperty }}">{{ type.name }}</span>
                    </h2>
                    <div class="card-body">
                        <img src="/assets/types/{{ type.slug }}.png" class="card-img-top" alt="{{ type.name }}">
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}
